EDI Enterprise maps/HomeDepot/820Remittance/saved/DocumentData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Tony Huang (Starcom Computer Corporation) -->
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Paul Sager (Starcom Computer Corp) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0">
	<xsd:annotation>
		<xsd:appinfo>
			<jxb:globalBindings fixedAttributeAsConstantProperty="true" collectionType="java.util.ArrayList"/>
			<jxb:schemaBindings>
				<jxb:package name="com.starcomsoft.pp.binding"/>
			</jxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="DocumentData">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Document" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="documents"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ElementDelimiter" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CompositeDelimiter" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TerminatorDelimiter" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LineTerminator" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Document">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentType" type="xsd:string"/>
				<xsd:element name="PONumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="VendorID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="VendorName" type="xsd:string"/>
				<xsd:element name="DUNSNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TaxIdNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InvoiceNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="MemoNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ReferenceNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OrderStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CreateDate" type="DateType"/>
				<xsd:element name="LoadDate" type="DateType" minOccurs="0"/>
				<xsd:element name="DeliveryDate" type="DateType" minOccurs="0"/>
				<xsd:element name="ShipDate" type="DateType"/>
				<xsd:element name="ReceiveDate" type="DateType" minOccurs="0"/>
				<xsd:element name="ReceiveTime" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TransmitDate" type="DateType"/>
				<xsd:element name="PullLoad" type="xsd:string" minOccurs="0"/>
				<xsd:element name="SalesRep" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Buyer" type="xsd:string" minOccurs="0"/>
				<xsd:element name="EnteredBy" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DepartmentNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CarrierCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Weight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Volume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TermsBasisDateCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OrderShippedComplete" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="Party" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="parties"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ShipVia" minOccurs="0"/>
				<xsd:element ref="Instructions" minOccurs="0"/>
				<xsd:element name="FOB" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="SalesRequirements" minOccurs="0"/>
				<xsd:element ref="PaymentTerms" minOccurs="0"/>
				<xsd:element ref="Charge" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="charges"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TaxableAmount" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TaxPercent" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="GSTPercent" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="GSTAmount" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Total" type="xsd:double">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Property" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="properties"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="StarcomHeaderOverride" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="headerOverride"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="LineItem" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="lineItems"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StarcomHeaderOverride">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="errors"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="BillToId" type="xsd:int"/>
				<xsd:element name="ShipToId" type="xsd:int"/>
				<xsd:element name="BillToName" type="xsd:string"/>
				<xsd:element name="ShipToCode" type="xsd:string"/>
				<xsd:element name="ShipToStoreNumber" type="xsd:string"/>
				<xsd:element name="ShipToAddress1" type="xsd:string"/>
				<xsd:element name="ShipToAddress2" type="xsd:string"/>
				<xsd:element name="ShipToCity" type="xsd:string"/>
				<xsd:element name="ShipToState" type="xsd:string"/>
				<xsd:element name="ShipToZip" type="xsd:string"/>
				<xsd:element name="Invalid" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="StarcomLineItemOverride">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="errors"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ItemId" type="xsd:int"/>
				<xsd:element name="PartNumber" type="xsd:string"/>
				<xsd:element name="ItemCode" type="xsd:string"/>
				<xsd:element name="OrderQty" type="xsd:int"/>
				<xsd:element name="RequestedQty" type="xsd:int"/>
				<xsd:element name="ItemPrice" type="xsd:double"/>
				<xsd:element name="SystemPrice" type="xsd:double"/>
				<xsd:element name="RequestedPrice" type="xsd:double"/>
				<xsd:element name="PriceSource" type="xsd:int"/>
				<xsd:element name="SystemPriceSource" type="xsd:int"/>
				<xsd:element name="PackageId" type="xsd:int"/>
				<xsd:element name="PackageCode" type="xsd:string"/>
				<xsd:element name="PackageCount" type="xsd:int"/>
				<xsd:element name="Invalid" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ChargeOverride">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="errors"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Invalid" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Error">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Description" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PartNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Type" type="PartNumberConstant" minOccurs="0"/>
				<xsd:element name="Number" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Units">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UnitOfMeasure" type="xsd:string"/>
				<xsd:element name="PackageCount" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="EachCount" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="InventoryQuantity" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UnitQuantity" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PaymentTerms">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TermsCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DiscountPercent" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DiscountDays" type="xsd:int" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="NetDueDays" type="xsd:int" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TermsDate" type="CustomDate" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DueDate" type="CustomDate" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Party">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PartyType" type="PartyConstant"/>
				<xsd:element name="PartyID" type="xsd:string"/>
				<xsd:element name="ExternalID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Name" type="xsd:string"/>
				<xsd:element name="Address1" type="xsd:string"/>
				<xsd:element name="Address2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="City" type="xsd:string"/>
				<xsd:element name="State" type="xsd:string"/>
				<xsd:element name="ZipCode" type="xsd:string"/>
				<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Phone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Contact" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Reference" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="referenceList"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Property">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="key" type="xsd:string"/>
				<xsd:element name="value" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Charge">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ChargeOverride" minOccurs="0"/>
				<xsd:element name="ChargeType" type="ChargeConstant"/>
				<xsd:element name="Amount" type="xsd:double">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Code" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineItem">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LineID" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="PartNumber" maxOccurs="3">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="partNumbers"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CategoryCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CategoryDescription" type="xsd:string" minOccurs="0"/>
				<xsd:element name="SKUDescription" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CaseCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Packs" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PackSize" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Quantity" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Units"/>
				<xsd:element name="Taxed" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="Price" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Extension" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AdjustmentPercent" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AdjustmentAmount" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DiscountPercent" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DiscountAmount" type="xsd:double" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property generateIsSetMethod="true"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="RequestedQuantity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ShippedQuantity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="AccumulativeShippedQuantity" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="Property" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="properties"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="ValueAdds" minOccurs="0"/>
				<xsd:choice>
					<xsd:element name="ReceiveDate" type="DateType"/>
					<xsd:element name="ShipDate" type="DateType"/>
				</xsd:choice>
				<xsd:element ref="StarcomLineItemOverride" minOccurs="0">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="lineItemOverride"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ValueAdds">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PartNumber" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="partNumbers"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipVia">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ShippingCode" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Instructions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Short" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Long" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SalesRequirements">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RequirementCode" type="xsd:string" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo>
							<jxb:property name="requirementcodes"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DateType">
		<xsd:sequence>
			<xsd:element name="Day" type="CustomDate" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<jxb:property generateIsSetMethod="true"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Week" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<jxb:property generateIsSetMethod="true"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Standard" type="WeekStandard" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<jxb:property generateIsSetMethod="true"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CustomDate">
		<xsd:annotation>
			<xsd:appinfo>
				<jxb:javaType name="com.starcomsoft.growernetwork.connect.messaging.CustomDate" parseMethod="fromString" printMethod="toString"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="10"/>
			<xsd:pattern value="\d{4}-\d{2}-\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WeekStandard">
		<xsd:annotation>
			<xsd:appinfo>
				<jxb:typesafeEnumClass/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ANSI_WEEK"/>
			<xsd:enumeration value="ISO_WEEK"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PartNumberConstant">
		<xsd:annotation>
			<xsd:appinfo>
				<jxb:typesafeEnumClass/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INTERNAL"/>
			<xsd:enumeration value="SKU"/>
			<xsd:enumeration value="UPC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PartyConstant">
		<xsd:annotation>
			<xsd:appinfo>
				<jxb:typesafeEnumClass/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BILL_TO"/>
			<xsd:enumeration value="SOLD_TO"/>
			<xsd:enumeration value="SHIP_TO"/>
			<xsd:enumeration value="SUPPLIER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChargeConstant">
		<xsd:annotation>
			<xsd:appinfo>
				<jxb:typesafeEnumClass/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DISCOUNT"/>
			<xsd:enumeration value="FREIGHT"/>
			<xsd:enumeration value="SURCHARGE"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
