EDI Enterprise maps/ExpressSeed_VWI_Invoice/ESC_VOUCHER_IN_VERSION_2a.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 rel. 3 U (http://www.altova.com)-->
<!ELEMENT ESC_VOUCHER_IN (FieldTypes, MsgData)>
<!ELEMENT FieldTypes ((M_VCHR_HDR_VW | M_VCHR_HNTE_VW | M_VCHR_LINE_VW | M_VCHR_LNTE_VW | M_VCH_HCH_VW | M_VCH_LCH_VW | PSCAMA), (M_VCHR_HDR_VW | M_VCHR_HNTE_VW | M_VCHR_LINE_VW | M_VCHR_LNTE_VW | M_VCH_HCH_VW | M_VCH_LCH_VW | PSCAMA), (M_VCHR_HDR_VW | M_VCHR_HNTE_VW | M_VCHR_LINE_VW | M_VCHR_LNTE_VW | M_VCH_HCH_VW | M_VCH_LCH_VW | PSCAMA), (M_VCHR_HDR_VW | M_VCHR_HNTE_VW | M_VCHR_LINE_VW | M_VCHR_LNTE_VW | M_VCH_HCH_VW | M_VCH_LCH_VW | PSCAMA), (M_VCHR_HDR_VW | M_VCHR_HNTE_VW | M_VCHR_LINE_VW | M_VCHR_LNTE_VW | M_VCH_HCH_VW | M_VCH_LCH_VW | PSCAMA), (M_VCHR_HDR_VW | M_VCHR_HNTE_VW | M_VCHR_LINE_VW | M_VCHR_LNTE_VW | M_VCH_HCH_VW | M_VCH_LCH_VW | PSCAMA), (M_VCHR_HDR_VW | M_VCHR_HNTE_VW | M_VCHR_LINE_VW | M_VCHR_LNTE_VW | M_VCH_HCH_VW | M_VCH_LCH_VW | PSCAMA))>
<!ELEMENT MsgData (Transaction)*>
<!ELEMENT M_VCHR_HDR_VW (BUSINESS_UNIT, INVOICE_ID, M_INVOICE_TYPE, PO_ID, INVOICE_DT, PYMNT_TERMS_CD, SALETX_AMT, GROSS_AMT, SHIP_DATE, SHIP_TYPE_ID, TRACKING_NBR, CUSTOMER_PO, SHIP_CUST_NAME, ADDRESS1_SHIPTO, ADDRESS2_SHIPTO, ADDRESS3_SHIPTO, ADDRESS4_SHIPTO, CITY_SHIPTO, STATE_SHIPTO, POSTAL_SHIPTO, SHIPTO_COUNTRY, CURRENCY_CD)>
<!ATTLIST M_VCHR_HDR_VW
	class CDATA #FIXED "R"
>
<!ELEMENT M_VCHR_HNTE_VW (BUSINESS_UNIT, INVOICE_ID, SEQ_NUM, PO_ID, TEXT254)>
<!ATTLIST M_VCHR_HNTE_VW
	class CDATA #FIXED "R"
>
<!ELEMENT M_VCHR_LINE_VW (BUSINESS_UNIT, INVOICE_ID, INVOICE_LINE, PO_ID, INV_ITEM_ID, ITM_ID_VNDR, DESCR60, QTY_VCHR, UNIT_PRICE, MERCHANDISE_AMT, UNIT_OF_MEASURE)>
<!ATTLIST M_VCHR_LINE_VW
	class CDATA #FIXED "R"
>
<!ELEMENT M_VCHR_LNTE_VW (BUSINESS_UNIT, INVOICE_ID, INVOICE_LINE, SEQ_NUM, PO_ID, TEXT254)>
<!ATTLIST M_VCHR_LNTE_VW
	class CDATA #FIXED "R"
>
<!ELEMENT M_VCH_HCH_VW (BUSINESS_UNIT, INVOICE_ID, SEQ_NUM, PO_ID, MISC_CHARGE_CODE, DESCR, ESC_DISC_FLAG, QTY_VCHR, UNIT_PRICE, MISC_CHRG_AMT)>
<!ATTLIST M_VCH_HCH_VW
	class CDATA #FIXED "R"
>
<!ELEMENT M_VCH_LCH_VW (BUSINESS_UNIT, INVOICE_ID, INVOICE_LINE, SEQ_NUM, PO_ID, QTY_VCHR, MISC_CHARGE_CODE, DESCR, ESC_DISC_FLAG, UNIT_PRICE, TOTAL_AMT)>
<!ATTLIST M_VCH_LCH_VW
	class CDATA #FIXED "R"
>
<!ELEMENT PSCAMA ((LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME))>
<!ATTLIST PSCAMA
	class CDATA #FIXED "R"
>
<!ELEMENT BUSINESS_UNIT EMPTY>
<!ATTLIST BUSINESS_UNIT
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_ID EMPTY>
<!ATTLIST INVOICE_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT M_INVOICE_TYPE EMPTY>
<!ATTLIST M_INVOICE_TYPE
	type CDATA #FIXED "CHAR"
>
<!ELEMENT PO_ID EMPTY>
<!ATTLIST PO_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_DT EMPTY>
<!ATTLIST INVOICE_DT
	type CDATA #FIXED "DATE"
>
<!ELEMENT PYMNT_TERMS_CD EMPTY>
<!ATTLIST PYMNT_TERMS_CD
	type CDATA #FIXED "CHAR"
>
<!ELEMENT SALETX_AMT EMPTY>
<!ATTLIST SALETX_AMT
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT GROSS_AMT EMPTY>
<!ATTLIST GROSS_AMT
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT SHIP_DATE EMPTY>
<!ATTLIST SHIP_DATE
	type CDATA #FIXED "DATE"
>
<!ELEMENT SHIP_TYPE_ID EMPTY>
<!ATTLIST SHIP_TYPE_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT TRACKING_NBR EMPTY>
<!ATTLIST TRACKING_NBR
	type CDATA #FIXED "CHAR"
>
<!ELEMENT CUSTOMER_PO EMPTY>
<!ATTLIST CUSTOMER_PO
	type CDATA #FIXED "CHAR"
>
<!ELEMENT SHIP_CUST_NAME EMPTY>
<!ATTLIST SHIP_CUST_NAME
	type CDATA #FIXED "CHAR"
>
<!ELEMENT ADDRESS1_SHIPTO EMPTY>
<!ATTLIST ADDRESS1_SHIPTO
	type CDATA #FIXED "CHAR"
>
<!ELEMENT ADDRESS2_SHIPTO EMPTY>
<!ATTLIST ADDRESS2_SHIPTO
	type CDATA #FIXED "CHAR"
>
<!ELEMENT ADDRESS3_SHIPTO EMPTY>
<!ATTLIST ADDRESS3_SHIPTO
	type CDATA #FIXED "CHAR"
>
<!ELEMENT ADDRESS4_SHIPTO EMPTY>
<!ATTLIST ADDRESS4_SHIPTO
	type CDATA #FIXED "CHAR"
>
<!ELEMENT CITY_SHIPTO EMPTY>
<!ATTLIST CITY_SHIPTO
	type CDATA #FIXED "CHAR"
>
<!ELEMENT STATE_SHIPTO EMPTY>
<!ATTLIST STATE_SHIPTO
	type CDATA #FIXED "CHAR"
>
<!ELEMENT POSTAL_SHIPTO EMPTY>
<!ATTLIST POSTAL_SHIPTO
	type CDATA #FIXED "CHAR"
>
<!ELEMENT SHIPTO_COUNTRY EMPTY>
<!ATTLIST SHIPTO_COUNTRY
	type CDATA #FIXED "CHAR"
>
<!ELEMENT CURRENCY_CD EMPTY>
<!ATTLIST CURRENCY_CD
	type CDATA #FIXED "CHAR"
>
<!ELEMENT BUSINESS_UNIT EMPTY>
<!ATTLIST BUSINESS_UNIT
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_ID EMPTY>
<!ATTLIST INVOICE_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT SEQ_NUM EMPTY>
<!ATTLIST SEQ_NUM
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT PO_ID EMPTY>
<!ATTLIST PO_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT TEXT254 EMPTY>
<!ATTLIST TEXT254
	type CDATA #FIXED "CHAR"
>
<!ELEMENT BUSINESS_UNIT EMPTY>
<!ATTLIST BUSINESS_UNIT
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_ID EMPTY>
<!ATTLIST INVOICE_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_LINE EMPTY>
<!ATTLIST INVOICE_LINE
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT PO_ID EMPTY>
<!ATTLIST PO_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INV_ITEM_ID EMPTY>
<!ATTLIST INV_ITEM_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT ITM_ID_VNDR EMPTY>
<!ATTLIST ITM_ID_VNDR
	type CDATA #FIXED "CHAR"
>
<!ELEMENT DESCR60 EMPTY>
<!ATTLIST DESCR60
	type CDATA #FIXED "CHAR"
>
<!ELEMENT QTY_VCHR EMPTY>
<!ATTLIST QTY_VCHR
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT UNIT_PRICE EMPTY>
<!ATTLIST UNIT_PRICE
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT MERCHANDISE_AMT EMPTY>
<!ATTLIST MERCHANDISE_AMT
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT UNIT_OF_MEASURE EMPTY>
<!ATTLIST UNIT_OF_MEASURE
	type CDATA #FIXED "CHAR"
>
<!ELEMENT BUSINESS_UNIT EMPTY>
<!ATTLIST BUSINESS_UNIT
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_ID EMPTY>
<!ATTLIST INVOICE_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_LINE EMPTY>
<!ATTLIST INVOICE_LINE
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT SEQ_NUM EMPTY>
<!ATTLIST SEQ_NUM
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT PO_ID EMPTY>
<!ATTLIST PO_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT TEXT254 EMPTY>
<!ATTLIST TEXT254
	type CDATA #FIXED "CHAR"
>
<!ELEMENT BUSINESS_UNIT EMPTY>
<!ATTLIST BUSINESS_UNIT
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_ID EMPTY>
<!ATTLIST INVOICE_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT SEQ_NUM EMPTY>
<!ATTLIST SEQ_NUM
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT PO_ID EMPTY>
<!ATTLIST PO_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT MISC_CHARGE_CODE EMPTY>
<!ATTLIST MISC_CHARGE_CODE
	type CDATA #FIXED "CHAR"
>
<!ELEMENT DESCR EMPTY>
<!ATTLIST DESCR
	type CDATA #FIXED "CHAR"
>
<!ELEMENT ESC_DISC_FLAG EMPTY>
<!ATTLIST ESC_DISC_FLAG
	type CDATA #FIXED "CHAR"
>
<!ELEMENT QTY_VCHR EMPTY>
<!ATTLIST QTY_VCHR
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT UNIT_PRICE EMPTY>
<!ATTLIST UNIT_PRICE
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT MISC_CHRG_AMT EMPTY>
<!ATTLIST MISC_CHRG_AMT
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT BUSINESS_UNIT EMPTY>
<!ATTLIST BUSINESS_UNIT
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_ID EMPTY>
<!ATTLIST INVOICE_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT INVOICE_LINE EMPTY>
<!ATTLIST INVOICE_LINE
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT SEQ_NUM EMPTY>
<!ATTLIST SEQ_NUM
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT PO_ID EMPTY>
<!ATTLIST PO_ID
	type CDATA #FIXED "CHAR"
>
<!ELEMENT QTY_VCHR EMPTY>
<!ATTLIST QTY_VCHR
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT MISC_CHARGE_CODE EMPTY>
<!ATTLIST MISC_CHARGE_CODE
	type CDATA #FIXED "CHAR"
>
<!ELEMENT DESCR EMPTY>
<!ATTLIST DESCR
	type CDATA #FIXED "CHAR"
>
<!ELEMENT ESC_DISC_FLAG EMPTY>
<!ATTLIST ESC_DISC_FLAG
	type CDATA #FIXED "CHAR"
>
<!ELEMENT UNIT_PRICE EMPTY>
<!ATTLIST UNIT_PRICE
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT TOTAL_AMT EMPTY>
<!ATTLIST TOTAL_AMT
	type CDATA #FIXED "NUMBER"
>
<!ELEMENT AUDIT_ACTN (#PCDATA)>
<!ATTLIST AUDIT_ACTN
	type CDATA #IMPLIED
>
<!ELEMENT LANGUAGE_CD (#PCDATA)>
<!ATTLIST LANGUAGE_CD
	type CDATA #IMPLIED
>
<!ELEMENT AUDIT_ACTN (#PCDATA)>
<!ATTLIST AUDIT_ACTN
	type CDATA #IMPLIED
>
<!ELEMENT BASE_LANGUAGE_CD (#PCDATA)>
<!ATTLIST BASE_LANGUAGE_CD
	type CDATA #IMPLIED
>
<!ELEMENT MSG_SEQ_FLG (#PCDATA)>
<!ATTLIST MSG_SEQ_FLG
	type CDATA #IMPLIED
>
<!ELEMENT PROCESS_INSTANCE (#PCDATA)>
<!ATTLIST PROCESS_INSTANCE
	type CDATA #IMPLIED
>
<!ELEMENT PUBLISH_RULE_ID (#PCDATA)>
<!ATTLIST PUBLISH_RULE_ID
	type CDATA #IMPLIED
>
<!ELEMENT MSGNODENAME (#PCDATA)>
<!ATTLIST MSGNODENAME
	type CDATA #IMPLIED
>
<!ELEMENT LANGUAGE_CD (#PCDATA)>
<!ATTLIST LANGUAGE_CD
	type CDATA #IMPLIED
>
<!ELEMENT AUDIT_ACTN (#PCDATA)>
<!ATTLIST AUDIT_ACTN
	type CDATA #IMPLIED
>
<!ELEMENT BASE_LANGUAGE_CD (#PCDATA)>
<!ATTLIST BASE_LANGUAGE_CD
	type CDATA #IMPLIED
>
<!ELEMENT MSG_SEQ_FLG (#PCDATA)>
<!ATTLIST MSG_SEQ_FLG
	type CDATA #IMPLIED
>
<!ELEMENT PROCESS_INSTANCE (#PCDATA)>
<!ATTLIST PROCESS_INSTANCE
	type CDATA #IMPLIED
>
<!ELEMENT PUBLISH_RULE_ID (#PCDATA)>
<!ATTLIST PUBLISH_RULE_ID
	type CDATA #IMPLIED
>
<!ELEMENT MSGNODENAME (#PCDATA)>
<!ATTLIST MSGNODENAME
	type CDATA #IMPLIED
>
<!ELEMENT Transaction (M_VCHR_HDR_VW, PSCAMA)>
<!ELEMENT M_VCHR_HDR_VW (BUSINESS_UNIT, INVOICE_ID, M_INVOICE_TYPE, PO_ID, INVOICE_DT, PYMNT_TERMS_CD, SALETX_AMT, GROSS_AMT, SHIP_DATE, SHIP_TYPE_ID, TRACKING_NBR, CUSTOMER_PO, SHIP_CUST_NAME, ADDRESS1_SHIPTO, ADDRESS2_SHIPTO, ADDRESS3_SHIPTO, ADDRESS4_SHIPTO, CITY_SHIPTO, STATE_SHIPTO, POSTAL_SHIPTO, SHIPTO_COUNTRY, CURRENCY_CD)>
<!ATTLIST M_VCHR_HDR_VW
	class CDATA #FIXED "R"
>
<!ELEMENT PSCAMA ((LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME), (LANGUAGE_CD | AUDIT_ACTN | BASE_LANGUAGE_CD | MSG_SEQ_FLG | PROCESS_INSTANCE | PUBLISH_RULE_ID | MSGNODENAME))>
<!ATTLIST PSCAMA
	class CDATA #FIXED "R"
>
<!ELEMENT BUSINESS_UNIT (#PCDATA)>
<!ELEMENT INVOICE_ID (#PCDATA)>
<!ELEMENT M_INVOICE_TYPE (#PCDATA)>
<!ELEMENT PO_ID (#PCDATA)>
<!ELEMENT INVOICE_DT (#PCDATA)>
<!ELEMENT PYMNT_TERMS_CD (#PCDATA)>
<!ELEMENT SALETX_AMT (#PCDATA)>
<!ELEMENT GROSS_AMT (#PCDATA)>
<!ELEMENT SHIP_DATE (#PCDATA)>
<!ELEMENT SHIP_TYPE_ID (#PCDATA)>
<!ELEMENT TRACKING_NBR (#PCDATA)>
<!ELEMENT CUSTOMER_PO (#PCDATA)>
<!ELEMENT SHIP_CUST_NAME (#PCDATA)>
<!ELEMENT ADDRESS1_SHIPTO (#PCDATA)>
<!ELEMENT ADDRESS2_SHIPTO (#PCDATA)>
<!ELEMENT ADDRESS3_SHIPTO (#PCDATA)>
<!ELEMENT ADDRESS4_SHIPTO (#PCDATA)>
<!ELEMENT CITY_SHIPTO (#PCDATA)>
<!ELEMENT STATE_SHIPTO (#PCDATA)>
<!ELEMENT POSTAL_SHIPTO (#PCDATA)>
<!ELEMENT SHIPTO_COUNTRY (#PCDATA)>
<!ELEMENT CURRENCY_CD (#PCDATA)>
<!ELEMENT BUSINESS_UNIT (#PCDATA)>
<!ELEMENT INVOICE_ID (#PCDATA)>
<!ELEMENT SEQ_NUM (#PCDATA)>
<!ELEMENT PO_ID (#PCDATA)>
<!ELEMENT TEXT254 (#PCDATA)>
<!ELEMENT BUSINESS_UNIT (#PCDATA)>
<!ELEMENT INVOICE_ID (#PCDATA)>
<!ELEMENT INVOICE_LINE (#PCDATA)>
<!ELEMENT PO_ID (#PCDATA)>
<!ELEMENT INV_ITEM_ID (#PCDATA)>
<!ELEMENT ITM_ID_VNDR (#PCDATA)>
<!ELEMENT DESCR60 (#PCDATA)>
<!ELEMENT QTY_VCHR (#PCDATA)>
<!ELEMENT UNIT_PRICE (#PCDATA)>
<!ELEMENT MERCHANDISE_AMT (#PCDATA)>
<!ELEMENT UNIT_OF_MEASURE (#PCDATA)>
<!ELEMENT BUSINESS_UNIT (#PCDATA)>
<!ELEMENT INVOICE_ID (#PCDATA)>
<!ELEMENT INVOICE_LINE (#PCDATA)>
<!ELEMENT SEQ_NUM (#PCDATA)>
<!ELEMENT PO_ID (#PCDATA)>
<!ELEMENT TEXT254 (#PCDATA)>
<!ELEMENT BUSINESS_UNIT (#PCDATA)>
<!ELEMENT INVOICE_ID (#PCDATA)>
<!ELEMENT SEQ_NUM (#PCDATA)>
<!ELEMENT PO_ID (#PCDATA)>
<!ELEMENT MISC_CHARGE_CODE (#PCDATA)>
<!ELEMENT DESCR (#PCDATA)>
<!ELEMENT ESC_DISC_FLAG (#PCDATA)>
<!ELEMENT QTY_VCHR (#PCDATA)>
<!ELEMENT UNIT_PRICE (#PCDATA)>
<!ELEMENT MISC_CHRG_AMT (#PCDATA)>
<!ELEMENT BUSINESS_UNIT (#PCDATA)>
<!ELEMENT INVOICE_ID (#PCDATA)>
<!ELEMENT INVOICE_LINE (#PCDATA)>
<!ELEMENT SEQ_NUM (#PCDATA)>
<!ELEMENT PO_ID (#PCDATA)>
<!ELEMENT QTY_VCHR (#PCDATA)>
<!ELEMENT MISC_CHARGE_CODE (#PCDATA)>
<!ELEMENT DESCR (#PCDATA)>
<!ELEMENT ESC_DISC_FLAG (#PCDATA)>
<!ELEMENT UNIT_PRICE (#PCDATA)>
<!ELEMENT TOTAL_AMT (#PCDATA)>
